vehicles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vehicles" type="vehiclesType"/>
  <xs:complexType name="vehicleType">
    <xs:sequence>
      <xs:element name="manufacturer">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Citroen"/>
            <xs:enumeration value="Ford"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="model">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="C5"/>
            <xs:enumeration value="Mondeo"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="registration">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="VU04 VCF"/>
            <xs:enumeration value="UKN01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vehiclesType">
    <xs:sequence>
      <xs:element type="vehicleType" name="vehicle" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>